$header_height: 60px;
$sidebar_width: 180px;

// corlors
$color0: #fefefe;
$color1: #4c5163;
$color2: #2b2f3e;

// highlight color
$hlc0: #6bceee;
$hlc1: #e98eb6;
$hlc2: #f0b5b7;
$hlc4: #65ccae;

// especific colors
$header_divider: #585e6f;
$text1: #3b4151;
$text2: #dbdbdb;
$scroll: #585e6f;
$code: rgba(43, 47, 62, 0.94);
$sidebar: rgba(254, 254, 254, 0.98);

// shadows
$shadow0: 0px 1px 13px -2px rgba(107, 130, 216, 0.25);
$shadow1: 0px 2px 27px 2px rgba(0, 0, 0, 0.19);
